.breadcrumbs {
	&__list {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		white-space: nowrap;
		gap: 0.5rem;
	}

	&__item {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
		line-height: 120%;
		font-size: 0.875rem;

		@media (min-width: $md5) {
			font-size: 1rem;
		}

		@media (min-width: $md3) {
			font-size: 1.125rem;
		}

		&:not(:last-child) {
			flex-shrink: 1;
			display: flex;
			align-items: center;
			gap: rem(9);
			&::after {
				content: "";
				width: rem(17);
				height: rem(6);
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='6' viewBox='0 0 17 6' fill='none'%3E%3Cpath d='M12.8974 6C13.1431 5.45299 13.3805 4.97436 13.6098 4.5641C13.8555 4.15385 14.093 3.81197 14.3223 3.53846H0V2.46154H14.3223C14.093 2.17094 13.8555 1.82051 13.6098 1.41026C13.3805 1 13.1431 0.529914 12.8974 0H13.7572C14.789 1.24786 15.8699 2.17094 17 2.76923V3.23077C15.8699 3.81196 14.789 4.73504 13.7572 6H12.8974Z' fill='%23334B59'/%3E%3C/svg%3E");
			}
		}

		&:not(:last-child) {
			flex-shrink: 0;
			overflow: visible;
			text-overflow: clip;
		}
	}

	&__link {
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;

		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}

		&.active {
			color: $accent;
		}
	}
}
