.popup {
	background: #fff;
	max-width: rem(620);
	width: 100%;
	color: #242424;
	padding: 1.5rem 2rem;
	border-radius: 1.5rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	&.active {
		display: block;
	}

	// .popup__title
	&__title {
		padding-right: 3rem;
	}
	&__subtitle {
		font-family: $font-inter;
		margin-top: 1rem;
	}

	// .popup__close
	&__close {
		position: absolute;
		top: 1.5rem;
		right: 2rem;
		border-radius: 0.5rem;
		background: #f5f5f5;
		width: 2.625rem;
		height: 2.625rem;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.5rem;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #f5f5f5, $amount: 10);
			}
		}
	}
}
