.preloader {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background: #fff;
	opacity: 1;
	transition: all 0.3s ease;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 200;
	transition-delay: 0.25s;
	&::before,
	&::after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		top: 0;
	}
	&::before {
		border-width: 0 rem(200) 100vh 0;
		border-color: transparent #797979 transparent transparent;
		left: rem(-200);
	}
	&::after {
		border-width: 100vh 0 0 rem(200);
		border-color: transparent transparent transparent #fff;
		right: rem(-200);
	}
	body.is-loaded & {
		left: calc(-100% - rem(200));
		visibility: hidden;
	}

	// .preloader__inner
	&__inner {
		width: 100vw;
		height: 100vh;
		padding: rem(20);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
	}
	// .preloader__percentage
	&__percentage {
		margin-top: 2.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		font-size: 2rem;
		font-weight: 700;
		line-height: 131.25%;
		letter-spacing: -0.00625rem;
		color: #ff7dbc;
		& span {
			color: #181d27;
		}
	}
	// .preloader__text
	&__text {
		margin-top: 0.62rem;
		color: #414651;
		font-size: 1.25rem;
		line-height: 150%;
	}
	// .preloader__circles
	&__circles {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		& span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			aspect-ratio: 1;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				animation: infiniteRotate 45s linear infinite;
				background: url("@img/decor/preloader-circle.svg") center / contain no-repeat;
			}
			&:nth-child(even) {
				&::before {
					animation: infiniteRotate 45s linear infinite reverse;
				}
			}
			&:nth-child(1) {
				width: 25.625rem;
				height: 25.625rem;
				@media (min-width: $md4) {
					width: 46.5rem;
					height: 46.5rem;
				}
			}
			&:nth-child(2) {
				width: 34.25rem;
				height: 34.25rem;
				@media (min-width: $md4) {
					width: 62rem;
					height: 62rem;
				}
			}
			&:nth-child(3) {
				width: 41.5rem;
				height: 41.5rem;
				@media (min-width: $md4) {
					width: 75.375rem;
					height: 75.375rem;
				}
			}
			&:nth-child(4) {
				width: 49.375rem;
				height: 49.375rem;
				@media (min-width: $md4) {
					width: 89.5rem;
					height: 89.5rem;
				}
			}
			&:nth-child(5) {
				width: 60rem;
				height: 60rem;
				@media (min-width: $md4) {
					width: 107.75rem;
					height: 107.75rem;
				}
			}
		}
	}
	// .preloader__copyright
	&__copyright {
		position: absolute;
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: -0.00625rem;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		opacity: 0.8;
		padding: 0 0.5rem 1.87rem;
		@media (min-width: $md4) {
			padding: 0;
			opacity: 1;
			left: 50%;
			transform: translateX(-50%);
			bottom: 2.62rem;
		}
	}
}
