.dropdown {
	position: relative;
	width: 100%;
	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}
		.dropdown__button {
			border: rem(1) solid $accent;
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
	font-size: rem(13);
	font-weight: 500;
	line-height: 140%;
	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}
	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 0.375rem;
		background: #fff;
		color: #344054;
		min-height: rem(32);
		padding: 0.125rem 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		gap: rem(7);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
		border-radius: rem(8);
		border: rem(1) solid #d0d5dd;

		&.selected {
			color: #232c32;
		}
		&::before {
			transition: transform 0.3s ease 0s;
			order: 1;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			color: #667085;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}

	// .dropdown__button-text
	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		hyphens: auto;
		min-width: 2.13rem;
	}

	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		z-index: 4;
		padding: 0.25rem;
		border-radius: 0.5rem;
		border: rem(1) solid #414651;
		background: #181d27;
		box-shadow: 0 rem(12) 1rem rem(-4) rgba(16, 24, 40, 0.08), 0 rem(4) rem(6) rem(-2) rgba(16, 24, 40, 0.03);
		transition: 0.2s ease;

		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		// max-height: rem(280);
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&.has-scroll {
			padding-right: rem(10);
		}
		&::-webkit-scrollbar-track {
			background: #e0eaf3;
			border-radius: rem(5);
		}
		&::-webkit-scrollbar-thumb {
			background: #81a6ca;
			border-radius: rem(5);
			@media (any-hover: hover) {
				&:hover {
					background: #2d87ff;
				}
			}
		}
	}
	&__list-item {
		cursor: pointer !important;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		color: #a4a7ae;
		font-size: 1rem;
		line-height: 137.5%;
		padding: 0.375rem 0.5rem;
		border-radius: 0.375rem;
		min-height: 1.38rem;
		font-weight: 400;
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
		transition: color 0.3s ease 0s;
		&.active,
		&[aria-checked="true"] {
			color: #fff;
			background: #252b37;

			&::before {
				order: 1;
				@extend %ic, .icon-check;
				width: 1.125rem;
				height: 1.125rem;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #939393;
			}
		}
		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
	}
}
