.locations {
	padding: 3.5rem 0 2rem;
	@media (min-width: $md4) {
		padding: 7.06rem 0 4rem;
	}
	// .locations__offices
	&__offices {
		display: grid;
		gap: 2.31rem;
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .locations__office
	&__office {
		border-radius: 0.625rem;
		background: #fff;
		overflow: hidden;
		box-shadow: 0 rem(20) rem(34) 0 rgba(48, 99, 111, 0.04);
	}
	// .locations__office-image
	&__office-image {
		aspect-ratio: math.div(605, 407);
	}
	// .locations__office-body
	&__office-body {
		padding: 1rem 1.5rem;
		@media (min-width: $md4) {
			padding: 2.12rem 3.12rem 2.7rem;
		}
	}
	// .locations__office-title
	&__office-title {
		font-weight: 700;
		line-height: 130%;
		@media (min-width: $md2) {
			font-size: 2.25rem;
		}
	}
	// .locations__office-info
	&__office-info {
		margin-top: 1.375rem;
		display: flex;
		flex-direction: column;
	}
	// .locations__office-item
	&__office-item {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-family: $font-inter;
		font-size: 1rem;
		line-height: 160%;
		&:not(:last-child) {
			margin-bottom: 0.6rem;
		}
	}
	// .locations__office-icon
	&__office-icon {
		width: 1.375rem;
		height: 1.375rem;
		color: #00b4dd;
	}
	// .locations__office-text
	&__office-text {
	}
	// .locations__office-link
	&__office-link {
		transition: color 0.3s ease;
		&.bold-link {
			font-weight: 600;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .locations__office-map-link
	&__office-map-link {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.feedback {
	padding: rem(60) 0 rem(152);
	// .feedback__body
	&__body {
		border-radius: 0.625rem;
		background: #fff;
		box-shadow: 0 20px 34px 0 rgba(48, 99, 111, 0.04);
		display: flex;
		gap: 1.5rem;
		flex-direction: column-reverse;
		padding: 1.5rem 1rem 0;
		@media (min-width: $md4) {
			padding: 0 2.5rem;
			align-items: flex-end;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			gap: 3.5rem;
		}
	}
	// .feedback__image
	&__image {
		@media (min-width: $md4) {
			margin-top: -4.5rem;
			flex: 0 0 22rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 28.125rem;
		}
	}
	// .feedback__form
	&__form {
		@media (min-width: $md4) {
			flex: 1 1 auto;
			padding: rem(50) 0 rem(60);
			max-width: 35.75rem;
		}
	}
}
