.doctor {
    display: flex;
    align-items: flex-start;
    padding: 2.5rem 0 6rem;
    gap: 1.5rem;
    flex-direction: column;

    @media (min-width:$md5) {
        flex-direction: row;
    }

    @media (min-width:$md2) {
        gap: 3.94rem;

    }

    // .doctor__image
    &__image {
        flex-shrink: 0;
        width: 12.5rem;
        height: 12.5rem;

        @media (min-width:$md2) {
            width: 15.625rem;
            height: 15.625rem;

        }
    }

    // .doctor__content
    &__content {}

    // .doctor__title
    &__title {
        font-size: 2.4375rem;
        font-weight: 700;
        line-height: 130%;
    }

    // .doctor__info
    &__info {
        margin-top: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
        font-size: 1rem;
        line-height: 160%;
        font-family: Inter;
    }


    // .doctor__details
    &__details {
        margin-top: 2.19rem;
    }

    // .doctor__details-block
    &__details-block {
        &:not(:last-child) {
            margin-bottom: 2.19rem;
        }
    }

    // .doctor__detail-caption
    &__detail-caption {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 130%;
    }

    // .doctor__detail-list
    &__detail-list {
        margin-top: 1.125rem;
        font-size: 1rem;
        line-height: 160%;
        font-family: Inter;
    }

    // .doctor__btn
    &__btn {
        margin-top: 2.06rem;

        &.btn {
            border-width: rem(2);
        }

    }
}

.certs {

    position: relative;
    z-index: 1;
    padding: rem(45) 0;

    @media (min-width:$md3) {
        padding: 6.06rem 0 8rem;

    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        background: #E7ECF1;
        z-index: -1;
        left: 50%;

        @media (min-width:$md3) {
            left: calc(50% - rem(167));
        }
    }

    // .certs__title
    &__title {}

    // .certs__slider
    &__slider {
        margin-top: 2rem;
        position: relative;

        & .swiper {
            overflow: visible;
            clip-path: inset(rem(-40) rem(-15) rem(-40) rem(-15));
        }
    }

    //.certs__pagination
    &__pagination {
        margin-top: 1.5rem;

        &.swiper-pagination {

            @media (min-width: $md3) {
                display: none;
            }
        }
    }

    &__slider-controls {
        display: none;

        @media (min-width: $md3) {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    // .certs__slider-prev
    &__slider-prev {
        position: static;
        inset: auto;
        transform: none;
        margin: 0;
        background: #00B4DD;
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: darken($color: #00B4DD, $amount: 10);

                .swiper-navigation-icon {
                    color: #fff;
                }
            }
        }


        .swiper-navigation-icon {
            color: #fff;
        }
    }

    // .certs__slider-next
    &__slider-next {
        position: static;
        inset: auto;
        transform: none;
        margin: 0;
        background: #00B4DD;
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: darken($color: #00B4DD, $amount: 10);

                .swiper-navigation-icon {
                    color: #fff;
                }
            }
        }

        .swiper-navigation-icon {
            color: #fff;
        }
    }


    // .certs__slide
    &__slide {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        height: auto;

        &.swiper-slide-visible {
            .certs__image {

                box-shadow: 0 rem(12) rem(20) rgba(48, 99, 111, 0.09);
            }
        }

    }

    // .certs__image
    &__image {
        flex: 1 1 auto;

        border-radius: rem(10);
        overflow: hidden;


        height: 10rem;

        @media (min-width:$md5) {
            height: 13.367rem;
        }
    }
}

.media {
    padding: rem(45) 0;
    position: relative;
    z-index: 1;

    @media (min-width:$md3) {
        padding: rem(90) 0 rem(112);

        &+.consult {
            margin-top: rem(150);
        }

    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        background: #E7ECF1;
        z-index: -1;

        @media (min-width:$md3) {
            left: calc(50% - rem(167));
        }
    }

    // .media__title
    &__title {}

    // .media__subtitle
    &__subtitle {

        max-width: rem(605);
    }

    &__footer {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .media__slider
    &__slider {
        margin-top: rem(44);
        position: relative;
    }

    // .media__slider-prev
    &__slider-prev {
        position: static;
        inset: auto;
        transform: none;
        margin: 0;
        background: #00B4DD;
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: darken($color: #00B4DD, $amount: 10);

                .swiper-navigation-icon {
                    color: #fff;
                }
            }
        }

        .swiper-navigation-icon {
            color: #fff;
        }
    }

    // .media__slider-next
    &__slider-next {
        position: static;
        inset: auto;
        transform: none;
        margin: 0;
        background: #00B4DD;
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: darken($color: #00B4DD, $amount: 10);

                .swiper-navigation-icon {
                    color: #fff;
                }
            }
        }

        .swiper-navigation-icon {
            color: #fff;
        }
    }

    // .media__pagination
    &__pagination {
        margin-top: 1.5rem;

        &.swiper-pagination {
            @media (min-width: $md3) {
                display: none;
            }
        }
    }

    // .media__pagination-controls 
    &__pagination-controls {
        display: none;

        @media (min-width:$md3) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

        }
    }


    // .media__card
    &__card {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    // .media__card-image
    &__card-image {
        position: relative;
        border-radius: 0.625rem;
        height: 0;
        overflow: hidden;
        width: 100%;
        display: block;
        padding-bottom: #{math.div(23,38)*100%};

        & img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    // .media__card-label
    &__card-label {
        position: absolute;
        top: 1.15rem;
        right: 1.15rem;
        color: #334B59;
        display: block;
        text-align: center;
        font-family: Inter;
        font-size: 1.45231rem;
        line-height: 134%;
        padding: 0.675rem 1.45rem;
        border-radius: 0.36431rem;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(rem(2));
        -webkit-backdrop-filter: blur(rem(2));
    }

    // .media__card-text
    &__card-text {
        margin-top: 0.675rem;
        font-family: Inter;
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%;

    }
}