<li class="value-card swiper-slide">
    <a href="#" class="value-card__link" aria-label="Смотреть видео о высококлассном оборудовании">
        <span class="value-card__image">
            <img src="@@image" alt="@@description" class="cover-image">
        </span>
        <span class="value-card__caption">
            @@title
            <svg class="value-card__icon icon-block" aria-hidden="true">
                <use xlink:href="@img/sprite.svg#icon-play"></use>
            </svg>
        </span>
    </a>
</li>