:root {
	--swiper-pagination-bottom: #{rem(12)};
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

* {
	scroll-margin-top: 4rem;
	@media (min-width: $md3) {
		scroll-margin-top: 5rem;
	}
	@media (min-width: $md2) {
		scroll-margin-top: 7rem;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;

	&.catalog-lock {
		overflow: hidden;
		position: relative;
		.wrapper {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000, $alpha: 0.6);
				z-index: 7;
				cursor: pointer;
			}
		}
	}
	&.menu-lock {
		overflow: hidden;
		position: relative;
		.wrapper {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000, $alpha: 0.6);
				z-index: 6;
				cursor: pointer;
			}
		}
		.header {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000, $alpha: 0.6);
				z-index: 6;
				cursor: pointer;
			}
		}
	}
	&.lock {
		overflow: hidden;
	}
	&.filters-lock {
		@media (max-width: $md3) {
			overflow: hidden;
			position: relative;
			.wrapper {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: #000, $alpha: 0.6);
					z-index: 7;
					cursor: pointer;
				}
			}
		}
	}
	&.article-lock {
		@media (max-width: $md3) {
			overflow: hidden;
			position: relative;
			.wrapper {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: #000, $alpha: 0.6);
					z-index: 7;
					cursor: pointer;
				}
			}
		}
	}
	&.preloading {
		overflow: hidden;
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	@media (max-width: $md3) {
		overflow-x: hidden;
	}
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}

}

//=============== LAYOUT ===============================

// =============== MODULES ====================
// @import "./modules/preloader";
@import "./modules/breads";
// @import "./modules/animation";
// @import "./modules/pagination";
// @import "./modules/popup";
// =============== MODULES ====================
