:root {
	--swiper-pagination-bottom: #{rem(12)};
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

* {
	scroll-margin-top: 4rem;
	@media (min-width: $md3) {
		scroll-margin-top: 5rem;
	}
	@media (min-width: $md2) {
		scroll-margin-top: 7rem;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	color: $text;
	background: #f7f6fa;
	&.open-mobile-menu {
		.wrapper {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000000, $alpha: 0.5);
				z-index: 2;
			}
		}
	}
	&.popup-active {
		overflow: hidden;
		.wrapper {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000000, $alpha: 0.5);
				z-index: 100;
			}
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow-x: clip;
	@media (max-width: $md3) {
		overflow-x: hidden;
	}
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0 1rem;
	max-width: $maxWidthContainer;
}

//=============== LAYOUT ===============================

// =============== MODULES ====================
// @import "./modules/preloader";
@import "./modules/breads";
@import "./modules/popup";
// @import "./modules/animation";
// @import "./modules/pagination";
// =============== MODULES ====================

.doctor-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: color 0.3s ease;
	&.has-info {
		.doctor-card__image {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 2rem;
				height: 2rem;
				background: url("@img/icon-info.svg") center / contain no-repeat;
			}
		}
	}
	&.swiper-slide {
		.doctor-card__image {
			box-shadow: none;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: #00b4dd;
		}
	}
	// .doctor-card__image
	&__image {
		aspect-ratio: 1;
		width: 100%;
		max-width: rem(230);
		background: #fff;
		border-radius: 50%;
		overflow: hidden;
		display: block;
		box-shadow: 0 0 rem(5) rem(14) rgba(48, 99, 111, 0.025);
		@media (min-width: $md3) {
			box-shadow: 0 0 rem(20) rem(34) rgba(48, 99, 111, 0.05);
		}
	}
	// .doctor-card__name
	&__name {
		margin-top: 2.25rem;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 160%;
	}
	// .doctor-card__specialty
	&__specialty {
		font-family: $font-inter;
		font-size: 1rem;
		line-height: 150%;
		margin-top: 0.725rem;
		@media (min-width: $md4) {
			max-width: 18.8rem;
			margin-top: 0.125rem;
		}
	}
}

.article-block {
	font-family: $font-inter;
	& > img {
		width: 100%;
		border-radius: rem(12);
	}
	& h2 {
		font-weight: 600;
		line-height: 126.667%;
		color: #181d27;
		font-size: rem(20);
		@media (min-width: $md4) {
			font-size: 1.875rem;
		}
		&:not(:first-child) {
			margin-top: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& h3 {
		color: #181d27;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 160%;
		@media (min-width: $md4) {
			line-height: 133.333%;
			font-size: 1.5rem;
		}
		&:not(:first-child) {
			margin-top: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& p,
	& ul:not([class]) {
		font-size: 1rem;
		line-height: 160%;

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	& figure {
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
		& > img {
			min-height: 14.375rem;
			object-fit: cover;
			width: 100%;
			border-radius: rem(12);
		}
		figcaption {
			margin-top: 1rem;
			font-size: 0.875rem;
			line-height: 142.857%;
			& a {
				text-decoration: underline;
				color: inherit;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		&:has(cite) {
			border-left: 0.125rem solid $accent;
			padding-block: 0.5rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 1.25rem;
			@media (min-width: $md4) {
				padding-left: 1.5rem;
			}
			& cite {
				padding-left: 0;
				border-left: 0;
				padding-block: 0;
			}
			.article__author {
				margin-top: 2rem;
			}
			.article__author-thumb {
				width: 3rem;
				height: 3rem;
			}
		}
	}
	& cite,
	& blockquote {
		padding-block: 0.5rem;
		border-left: 0.125rem solid $accent;
		color: #181d27;
		font-style: italic;
		font-weight: 500;
		line-height: 150%;
		display: block;
		font-size: 1.25rem;
		padding-left: 1.25rem;
		@media (min-width: $md4) {
			padding-left: 1.5rem;
			font-size: 1.5rem;
		}
	}
	& iframe {
		width: 100%;
		aspect-ratio: math.div(328, 187);
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	& a {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	& ul:not([class]) {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		& li {
			position: relative;
			padding-left: 2em;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(20);
				height: rem(16);
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16' fill='none'%3E%3Cpath d='M0.707031 8.43066L5.98926 13.7129L19.2066 0.712891' stroke='%2300B4DD' stroke-width='2'/%3E%3C/svg%3E");
			}
		}
	}
}
