.form {
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		border-radius: 0;
		background: #fff;
		color: #334b59;
		font-family: $font-inter;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;

		&::placeholder {
			color: #334b59;
			opacity: 0.5;
		}
		&:hover,
		&:focus {
			border-color: $accent;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			border-bottom: rem(1) solid #f04438;
			& + .form__field-placeholder {
				color: #f04438;
			}
		}
		&:is(textarea) {
			height: 7.5rem;
			resize: none;
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 98.7%;
	letter-spacing: 0.04375rem;
	text-transform: uppercase;
	border-radius: 0.375rem;
	padding: 1rem 1.275rem;
	min-height: rem(52);
	border-width: rem(2);
	border-style: solid;
	gap: 0.5rem;

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $text;
	}

	&.btn-primary {
		border-color: #00b4dd;
		background: #00b4dd;
		color: #ffffff;

		&:hover {
			background: #00a3c8;
			border-color: #00a3c8;
		}
		&:active {
			background: #00b4dd;
			border-color: #00b4dd;
		}
	}

	&.btn-white {
		border-color: #fff;
		background: #fff;
		color: #00b4dd;
		&:hover {
			background: #00a3c8;
			border-color: #00a3c8;
			color: #fff;
		}
		&:active {
			background: #00b4dd;
			border-color: #00b4dd;
			color: #fff;
		}
	}

	&.btn-white-outline {
		border-color: #fff;
		&:hover {
			background: #fff;
			color: #334b59;
		}
		&:active {
		}
	}

	&.btn-lg {
		font-size: 1rem;
		padding: 1.375rem rem(45);
		min-height: rem(63);
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.3;
		pointer-events: none;
	}
}
