.header {
}

.menu {
	@media (max-width: 1299.98px) {
		position: fixed;
		top: 0;
		right: 0;
		width: rem(340);
		height: 100%;
		z-index: 8;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		transform: translateX(100%);
		background: url("@img/decor/menu-bg-pattern.svg") 0 0 / cover no-repeat, #181d27;
		border-radius: 1rem 0 0 1rem;
		padding: 1.33rem 2rem;
		overflow-y: auto;
		&.menu--open {
			box-shadow: rem(-16) rem(4) rem(32) 0 rgba(0, 0, 0, 0.28);
			transform: none;
		}
	}
	@media (min-width: 1299.98px) {
		display: flex;
		justify-content: center;
		flex: 1 1 auto;
		gap: rem(125);
	}
	@media (min-width: 1719.98px) {
		gap: rem(250);
	}
	// .menu__header
	&__header {
		display: flex;
		align-items: center;
		gap: 2.31rem;
		margin-bottom: 1.5rem;
		@media (min-width: 1299.98px) {
			display: none;
		}
	}
	// .menu__logo
	&__logo {
		max-width: 2.5rem;
	}
	// .menu__list
	&__list {
		display: flex;
		gap: rem(10);
		flex-direction: column;
		gap: 0.5rem;
		&:not(:last-child) {
			@media (max-width: 1299.98px) {
				margin-bottom: 0.5rem;
			}
		}
		@media (min-width: 1299.98px) {
			flex-direction: row;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		&.menu__item--parent {
			@media (any-hover: hover) {
				&:hover {
					z-index: 3;
					.menu__btn {
						color: #181d27;
						background: #ff7dbc;
						&::before {
							transform: rotate(180deg);
						}
					}
					.submenu {
						opacity: 1;
						visibility: visible;
						transform: none;
					}
				}
			}
			&.active {
				.menu__btn {
					color: #181d27;
					background: #ff7dbc;
					&::before {
						transform: rotate(180deg);
					}
				}
				.submenu {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}
		&:has(.submenu__contacts) {
			@media (max-width: 1299.98px) {
				.menu__btn {
					display: none;
				}
				.submenu {
					display: block;
					margin: 0;
				}
				.submenu__list {
					background: transparent;
					padding: 0;
					box-shadow: none;
					border: 0;
					border-radius: 0;
					display: flex;
					flex-direction: column-reverse;
				}
				.submenu__link {
					font-size: 1.125rem;
					border-radius: 0.375rem;
					background: #252b37;
					color: #d5d7da;
					padding: em(0.375, 1.125) em(0.75, 1.125);
					gap: em(0.5, 1.125);
					&::before {
						display: none;
					}
				}
				.submenu__contacts {
					margin-top: 0.75rem;
				}
			}
		}
	}
	// .menu__link
	&__link {
		line-height: 144.444%;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		border-radius: em(0.5, 1.125);
		padding: em(0.375, 1.125) em(0.75, 1.125);
		gap: em(0.5, 1.125);
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1.125rem;
		border-radius: 0.375rem;
		background: #252b37;
		width: 100%;
		min-height: rem(40);
		&.active {
			color: #181d27;
			background: #ff7dbc;
		}
		@media (min-width: 1299.8px) {
			background: transparent;
			width: auto;
			min-height: auto;
			font-size: 1rem;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #181d27;
				background: #ff7dbc;
			}
		}
	}
	// .menu__btn
	&__btn {
		@extend .menu__link;
		&::before {
			flex-shrink: 0;
			order: 1;
			width: 1em;
			height: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
	}
}

.submenu {
	display: none;
	margin-top: 0.5rem;

	@media (min-width: 1299.8px) {
		margin-top: 0;
		position: absolute;
		display: block !important;
		z-index: 2;
		top: 100%;
		left: 0;
		padding-top: 0.25rem;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -0.5rem, 1px);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	// .submenu__list
	&__list {
		border-radius: 0.5rem;
		border: rem(1) solid #505050;
		color: #a4a7ae;
		box-shadow: 0 rem(12) 1rem rem(-4) rgba(32, 32, 32, 0.36);
		padding: rem(6);
		background: #252b37;

		@media (min-width: 1299.89px) {
			white-space: nowrap;
			background: #181d27;
			width: fit-content;
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		line-height: 133.333%;
		padding: 0.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2.25rem;
		border-radius: 0.375rem;
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1.125rem;
		@media (min-width: 1299.98px) {
			font-size: 1rem;
		}

		&::before {
			order: 1;
			width: 1.25rem;
			height: 1.25rem;
			color: #a4a7ae;
		}
		&.active {
			background: #252b37;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #252b37;
				color: #fff;
			}
		}
	}
	// .submenu__contacts
	&__contacts {
		padding: 0.75rem 0;
		@media (min-width: 1299.89px) {
			padding: rem(12) rem(12) rem(4);
			min-width: rem(310);
		}
	}
	// .submenu__contacts-block
	&__contacts-block {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@media (max-width: 1299.98px) {
			&:not(:last-child) {
				padding-bottom: 0.75rem;
				border-bottom: rem(1) solid rgba($color: #fff, $alpha: 0.2);
			}
		}
		@media (min-width: 1299.8px) {
			padding-bottom: 0.75rem;
			border-bottom: rem(1) solid rgba($color: #fff, $alpha: 0.2);
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .submenu__contacts-caption
	&__contacts-caption {
		color: #fff;
		font-size: 1.125rem;
		line-height: 150%;
	}
	// .submenu__contacts-phone
	&__contacts-phone {
		font-family: $font-dela;
		line-height: 150%;
		transition: color 0.3s ease;
		font-size: rem(20);
		color: #fff;
		@media (min-width: 1299.98px) {
			color: #ff7dbc;
			font-size: 1.375rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	&__contacts-callback {
		margin-top: 0.5rem;
		@media (min-width: 1299.98px) {
			display: none;
		}
	}
	// .submenu__contacts-mail
	&__contacts-mail {
		color: #53b1fd;
		font-size: 1.125rem;
		line-height: 150%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #53b1fd, $amount: 10);
			}
		}
	}
	// .submenu__contacts-socials
	&__contacts-socials {
		margin-top: 0.25rem;
		@media (max-width: 1299.98px) {
			.socials__link {
				&.icon-telegram {
					background-color: #00b0f2;
				}
				&.icon-whatsapp {
					background-color: #00e510;
				}
				&.icon-youtube {
					background-color: #ff0000;
				}
				&.icon-rutube {
					background-color: #13141c;
				}
				&.icon-vk {
					background-color: #2688eb;
				}
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #f4d400;
	color: #181d27;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: 1299.98px) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-left: auto;
			width: 75%;
		}
	}
	&.active {
		color: #fff;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
