.header {
	// .header__top
	&__top {
		background: #334b59;
		color: #fff;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 160%;
		padding: 0.75rem 0;
	}
	// .header__top-container
	&__top-container {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	// .header__contact
	&__contact {
		margin-right: auto;
		color: #fff;
		letter-spacing: 0.01125rem;
	}
	// .header__contact-icon
	&__contact-icon {
	}
	// .header__contact-link
	&__contact-link {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .header__phone
	&__phone {
		display: flex;
		justify-content: center;
		gap: rem(5);
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__phone-icon
	&__phone-icon {
	}
	// .header__phone-text
	&__phone-text {
	}
	// .header__button
	&__button {
	}
	// .header__body
	&__body {
		padding: rem(32) 0;
		background: #fff;
	}
	// .header__body-container
	&__body-container {
		display: flex;
		align-items: center;
		gap: rem(46);
		position: relative;
	}
	// .header__logo
	&__logo {
		flex: 0 0 rem(162);
	}
	// .header__menu
	&__menu {
		flex: 0 0 calc(100% - rem(228));
	}
	// .header__search
	&__search {
	}
	// .header__search-icon
	&__search-icon {
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: rem(46);
		flex-direction: column;

		@media (min-width: $md2) {
			flex-direction: row;
			justify-content: flex-end;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		&.menu__item--parent {
			display: inline-flex;
			align-items: center;
			gap: rem(11);
			@media (any-hover: hover) {
				&:hover {
					z-index: 3;
					.menu__link {
						color: $accent;
					}
					.menu__arrow {
						transform: rotate(180deg);
					}
					.submenu {
						opacity: 1;
						visibility: visible;
						transform: none;
					}
				}
			}
			&.active {
				.menu__link {
					color: $accent;
				}
				.menu__arrow {
					transform: rotate(180deg);
				}
				.submenu {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 160%;
		letter-spacing: 0.01125rem;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		transition: color 0.3s ease;
		width: 100%;
		&.active {
			color: $accent;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		width: rem(12);
		height: rem(6);
		flex-shrink: 0;
		color: $accent;
		transition: transform 0.3s ease;
		& .icon-block {
			width: rem(12);
			height: rem(6);
		}
	}
}

.submenu {
	display: none;
	margin-top: 0.5rem;

	@media (min-width: 1299.8px) {
		margin-top: 0;
		position: absolute;
		display: block !important;
		z-index: 2;
		top: 100%;
		left: 0;
		padding-top: 0.75rem;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -0.5rem, 1px);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	// .submenu__list
	&__list {
		border-radius: 0.625rem;
		padding: rem(6);
		border-radius: 0.625rem;
		background: #fff;
		color: #2a4352;
		box-shadow: 0 rem(10) rem(45) 0 rgba(48, 99, 111, 0.12);
		@media (min-width: 1299.89px) {
			white-space: nowrap;
			width: fit-content;
		}
	}
	// .submenu__item
	&__item {
		min-width: rem(187);
	}
	// .submenu__link
	&__link {
		line-height: 133.333%;
		padding: 0.7rem 1.12rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2.25rem;
		border-radius: 0.3125rem;
		min-height: rem(47);
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1.125rem;

		&.active {
			background: #f0f1f6;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #f0f1f6;
			}
		}
	}
	// .submenu__contacts
	&__contacts {
		padding: 0.75rem 0;
		@media (min-width: 1299.89px) {
			padding: rem(12) rem(12) rem(4);
			min-width: rem(310);
		}
	}
	// .submenu__contacts-block
	&__contacts-block {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@media (max-width: 1299.98px) {
			&:not(:last-child) {
				padding-bottom: 0.75rem;
				border-bottom: rem(1) solid rgba($color: #fff, $alpha: 0.2);
			}
		}
		@media (min-width: 1299.8px) {
			padding-bottom: 0.75rem;
			border-bottom: rem(1) solid rgba($color: #fff, $alpha: 0.2);
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .submenu__contacts-caption
	&__contacts-caption {
		color: #fff;
		font-size: 1.125rem;
		line-height: 150%;
	}
	// .submenu__contacts-phone
	&__contacts-phone {
		line-height: 150%;
		transition: color 0.3s ease;
		font-size: rem(20);
		color: #fff;
		@media (min-width: 1299.98px) {
			color: #ff7dbc;
			font-size: 1.375rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	&__contacts-callback {
		margin-top: 0.5rem;
		@media (min-width: 1299.98px) {
			display: none;
		}
	}
	// .submenu__contacts-mail
	&__contacts-mail {
		color: #53b1fd;
		font-size: 1.125rem;
		line-height: 150%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #53b1fd, $amount: 10);
			}
		}
	}
	// .submenu__contacts-socials
	&__contacts-socials {
		margin-top: 0.25rem;
		@media (max-width: 1299.98px) {
			.socials__link {
				&.icon-telegram {
					background-color: #00b0f2;
				}
				&.icon-whatsapp {
					background-color: #00e510;
				}
				&.icon-youtube {
					background-color: #ff0000;
				}
				&.icon-rutube {
					background-color: #13141c;
				}
				&.icon-vk {
					background-color: #2688eb;
				}
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #f4d400;
	color: #181d27;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: 1299.98px) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-left: auto;
			width: 75%;
		}
	}
	&.active {
		color: #fff;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}

.search {
	// .search_btoggler
	&__toggler {
		width: rem(24);
		height: rem(24);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .search__content
	&__content {
		background: red;
		padding: 1rem;
		position: absolute;
		top: 100%;
		width: 100%;
		right: 0;
		z-index: 6;
		display: flex;
		display: none;
	}
}
