// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Manrope";
$font-inter: "Inter";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 360; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1247); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$accent: #00b4dd;
$text: #334b59;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

.hero {
	position: relative;
	// .hero__slider
	&__slider {
		// color: #fff;
		background: #00b4dd;
		color: #fff;
		position: relative;
		z-index: 1;
	}
	// .hero__slide
	&__slide {
		min-height: rem(671);
		color: #fff;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: rem(175) 0;
		.container {
			width: 100%;
		}
	}
	&__offer {
		max-width: 35.3125rem;
		padding: rem(25) 0 rem(65);
	}
	// .hero__title
	&__title {
		font-size: 3.125rem;
		font-weight: 700;
		line-height: 130%;
	}
	// .hero__text
	&__text {
		margin-top: 1.25rem;
		font-family: $font-inter;
		font-size: 1.125rem;
		line-height: 160%;
	}
	// .hero__btn
	&__btn {
		margin-top: 2.37rem;
	}
	// .hero__btn--price
	&__btn--price {
	}
	// .hero__price-old
	&__price-old {
		text-decoration: line-through;
	}
	// .hero__controls
	&__controls {
		position: absolute;
		bottom: rem(178);
		left: 0;
		width: 100%;
		z-index: 2;
	}
}

.reviews {
	padding: rem(100) 0;
	// .reviews__header
	&__header {
		max-width: rem(835);
		margin: 0 auto;
		text-align: center;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__subtitle
	&__subtitle {
		margin-top: 1.37rem;
		font-family: $font-inter;
		font-size: 1.125rem;
		line-height: 160%;
	}
	// .reviews__list
	&__list {
		margin-top: rem(77);
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: rem(38);
	}
	// .reviews__card
	&__card {
		border-radius: 0.625rem;
		background: #fff;
		overflow: hidden;
	}
	// .reviews__card-count
	&__card-count {
		background: #e7ecf1;
		color: #334b59;
		font-family: $font-inter;
		font-size: 1.125rem;
		line-height: 160%;
		text-align: center;
		padding: rem(11) 0;
	}
	// .reviews__card-image
	&__card-image {
		padding: 1rem 0rem;
	}
}

.services {
	padding: rem(45) 0 rem(126);
	// .services__content
	&__content {
		display: flex;
	}
	// .services__main
	&__main {
		flex: 1 1 auto;
	}
	// .services__title
	&__title {
	}
	// .services__nav
	&__nav {
		font-family: $font-inter;
		font-size: 1.25rem;
	}
	// .services__nav-list
	&__nav-list {
		margin-top: 1.62rem;
		max-width: 23.5rem;
		margin-left: -1rem;
	}
	// .services__nav-item
	&__nav-item {
		&:not(:last-child) {
			margin-bottom: 0.2rem;
		}
	}
	// .services__nav-link
	&__nav-link {
		border-radius: 0.625rem;
		padding: 0.65rem 1rem;
		width: 100%;
		display: block;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: #e7ecf1;
			}
		}
	}
	// .services__btn
	&__btn {
		margin-top: 1.44rem;
	}
	// .services__image
	&__image {
		width: 44.5rem;
		flex-shrink: 0;
		overflow: hidden;
		border-radius: 0.625rem;
	}
}

.doctors {
	background: #e7ecf1;
	padding: 4.94rem 0 6.75rem;
	// .doctors__container
	&__container {
	}
	// .doctors__title
	&__title {
		text-align: center;
	}
	// .doctors__content
	&__content {
		margin-top: rem(77);
		padding: 0 rem(67);
		position: relative;
	}
	// .doctors__slider
	&__slider {
	}
	// .doctors__prev
	&__prev {
		left: -1rem;
	}

	// .doctors__next
	&__next {
		&.swiper-button-next {
			right: -2rem;
		}
	}
}

.doctor-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// .doctor-card__image
	&__image {
		width: 14.375rem;
		height: 14.375rem;
		background: #fff;
		border-radius: 50%;
		overflow: hidden;
		display: block;
	}
	// .doctor-card__name
	&__name {
		margin-top: 2.25rem;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 160%;
	}
	// .doctor-card__specialty
	&__specialty {
		margin-top: 0.125rem;
		font-family: $font-inter;
		font-size: 1rem;
		line-height: 150%;
		max-width: 18.8rem;
	}
}

.values {
	padding: 5.94rem 0 10.5rem;
	// .values__title
	&__title {
		max-width: 50rem;
		margin: 0 auto;
		text-align: center;
		font-size: 2.25rem;
		line-height: 1.3;
	}
	// .values__grid
	&__grid {
		margin-top: 3.875rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2.31rem;
	}
}

.value-card {
	position: relative;
	// .value-card__link
	&__link {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-radius: 0.625rem;
	}
	// .value-card__image
	&__image {
	}
	// .value-card__caption
	&__caption {
		position: absolute;
		bottom: 0.87rem;
		left: rem(14);
		right: rem(14);
		border-radius: 0.375rem;
		background: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(rem(2));
		-webkit-backdrop-filter: blur(rem(2));
		display: flex;
		align-items: center;
		padding: 0.37rem 0.75rem;
	}
	// .value-card__icon
	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		color: #00b4dd;
	}
}

.about {
	padding: 6.06rem 0 6.81rem;
	position: relative;
	background: #e7ecf1;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 67%;
		height: 100%;
		background: linear-gradient(270deg, rgba(231, 236, 241, 0) 63.7%, rgba(231, 236, 241, 0.8) 84.77%, #e7ecf1 99.88%), url("@img/about.png") 0 0 / cover no-repeat;
		z-index: -1;
	}
	// .about__container
	&__container {
	}
	// .about__content
	&__content {
		max-width: rem(582);
	}
	// .about__title
	&__title {
		font-size: 2.625rem;
	}
	// .about__text
	&__text {
		margin-top: 1.5rem;
	}
	// .about__btn
	&__btn {
		margin-top: 2rem;
		&.btn.btn-lg {
			padding-inline: 1.7rem;
		}
	}
	// .about__image
	&__image {
	}
}

.news {
	padding: 6.25rem 0 7.5rem;
	// .news__title
	&__title {
		font-size: 2.625rem;
	}
	// .news__grid
	&__grid {
		margin-top: 2.5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.31rem;
	}
	// .news__card
	&__card {
		border-radius: 0.625rem;
		background: #fff;
		display: flex;
		flex-direction: column;
	}
	// .news__card-date
	&__card-date {
		background: #e7ecf1;
		color: #334b59;
		font-family: $font-inter;
		font-size: 1rem;
		line-height: 160%;
		padding: 0.75rem 1.81rem;
	}
	// .news__card-title
	&__card-title {
		flex: 1 1 auto;
	}
	// .news__card-link
	&__card-link {
		height: 100%;
		padding: 1.44rem 1.81rem 2rem;
		display: block;
		transition: color 0.3s ease;
		font-family: $font-inter;
		line-height: 1.5;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .news__more
	&__more {
		margin-top: 2.87rem;
		display: inline-flex;
		align-items: center;
		gap: 0.44rem;
		color: #00b4dd;
		font-size: 1rem;
		font-weight: 700;
		line-height: 98.7%;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $accent, $amount: 10);
				.news__arrow-icon {
					transform: translateX(0.5rem);
				}
			}
		}
	}
	// .news__arrow-icon
	&__arrow-icon {
		transition: transform 0.3s ease;
		width: 0.9375rem;
		height: 0.9375rem;
	}
}
