.icon-block {
	width: 1.375rem;
	height: 1.375rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-weight: 700;
	line-height: 140%;
	font-size: 2rem;
	@media (min-width: $md4) {
		font-size: 2.125rem;
	}
}

.title-lg {
	font-weight: 700;
	line-height: 130%;
	font-size: 2rem;
	@media (min-width: $md4) {
		font-size: 2.125rem;
	}
	@media (min-width: $md3) {
		font-size: 2.875rem;
	}
}

.swiper-button-next,
.swiper-button-prev {
	--swiper-navigation-top-offset: 32%;
	--swiper-navigation-size: 4.0625rem;
	background: rgba($color: #fff, $alpha: 0.6);
	border-radius: 50%;
	font-size: 1rem;
	transition: background-color 0.3s ease;
	box-shadow: 0 20px 34px 0 rgba(48, 99, 111, 0.09);
	.swiper-navigation-icon {
		color: rgba($color: #334b59, $alpha: 0.3);
		width: auto;
		height: 1.375rem;
		transition: color 0.3s ease;
	}
	@media (any-hover: hover) {
		&:hover {
			background: #fff;
			.swiper-navigation-icon {
				color: #334b59;
			}
		}
	}
}

.swiper-button-prev {
	.swiper-navigation-icon {
		margin-right: 0.25rem;
	}
}
.swiper-button-next {
	.swiper-navigation-icon {
		margin-left: 0.25rem;
	}
}

.swiper-pagination {
	&.swiper-pagination-lock {
		display: none !important;
	}
	&.swiper-pagination-bullets {
		position: static;
		bottom: auto;
		left: auto;
		transform: none;
		width: 100%;
		display: flex;
		justify-content: center;
		--swiper-pagination-bullet-horizontal-gap: #{rem(10)};
		--swiper-pagination-bullet-size: #{rem(10)};
		--swiper-pagination-bullet-inactive-opacity: 0.4;
		&.swiper-pagination-bullets-dynamic {
			transform: none;
			margin-inline: auto;
			display: block;
			width: 100%;
		}
		.swiper-pagination-bullet {
			background: currentColor;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: rem(24);
				height: rem(24);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

// $scrollbarColor: #00b4dd;

// ::-webkit-scrollbar {
// 	width: rem(8);
// }
// ::-webkit-scrollbar-track {
// 	background: #fff;
// }
// ::-webkit-scrollbar-thumb {
// 	background: $scrollbarColor;
// 	border-radius: rem(8);
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background: darken($color: $scrollbarColor, $amount: 10);
// 		}
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
